<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
   http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/aop
   http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
   http://www.springframework.org/schema/tx
   http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">

<!--    这里xml文件写起来多少舒服。。 tomcat jdk maven 等运行环境一直就可以。开发工具版本高一点会用就问题不大-->

<!--    配置使用注解的方式来配置-->
    <context:component-scan base-package="com.how2java.pojo" />
<!--    <context:annotation-config></context:annotation-config>-->
<!--    <bean name="c" class="com.how2java.pojo.Category">-->
<!--        <property name="name" value="category 1" />-->
<!--    </bean>-->
<!--    <bean name="p" class="com.how2java.pojo.Product">-->
<!--        <property name="name" value="product1" />-->
<!--        <property name="category" ref="c" />-->
<!--    </bean>-->
</beans>
